.header {
display: flex;
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(17, 145, 17);
height: 80px;
text-align: center;
justify-content: center;
border:solid black;
border-radius: 50px
}

.header h1 {
    color: azure;
    
}
.nav {
height: 40px;
display: flex;
justify-content: center;
background-color: lightblue;
border: solid black;
font-family: Arial, Helvetica, sans-serif;
border-radius: 25px;
}

.nav a{
display:flex;
margin:auto;
font-size: 30px;
text-align: center;
}

.content img {
    display: flex;
    margin:auto;   
}

.content figcaption {
        font-size: 20px;
        text-align: center;
}

input[type=text], select, textarea {
    width: 600px; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid rgb(5, 5, 5); /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    width: 600px;
    border-radius: 5px;
    background-color: lightgray;
    padding: 20px;
    border-color: black;
margin: auto;
    border-radius: 15px
    
  }

footer {
    text-align: center;
}

