.header {
display: flex;
font-family: Arial, Helvetica, sans-serif;
background-color: darkgreen;
height: 80px;
text-align: center;
justify-content: center;
border:solid black
}

.header h1 {
    color: azure;
}
.nav {
height: 40px;
display: flex;
justify-content: center;
background-color: lightblue;
border: solid black
}

.nav a{
display:flex;
justify-content: space-between;
font-size: 30px;
text-align: center;
}

.content img {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 20px
}